@tailwind base;
@tailwind components;
@tailwind utilities;

body:not(h1){
    overflow-x: hidden;
    overflow-y: scroll;
}

h1 {
    overflow: hidden;
}

ul > li {
    display: flex;
    align-items: center;
}